# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env

# Database
*.db

# Node
node_modules/

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Vite cache
.vite/
frontend/.vite/